* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  background-color: #fff;
  color: #111;
  line-height: 1.5;
  letter-spacing: -0.23;
  text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Pretendard";
  /* display: flex;
  justify-content: center; */
  height: 100%;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #111;
}
img {
  border: 0;
  width: 40px;
  width: 40px;
}

.nav {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
  font-size: 36px;
}

/* 프리텐다드 */
/* @font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
} */
